---
import BaseHead from "@/components/BaseHead.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("notes-to-self");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"notes-to-self">;

const post = Astro.props;
const { Content } = await post.render();
---

<html lang="en">
  <head>
    <BaseHead title={post.data.title} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap" rel="stylesheet" />

    <style>
      h2 {
        font-family: "Nothing You Could Do", cursive;
        font-weight: 400;
        font-style: normal;
      }
    </style>
  </head>

  <body>
    <main>
      <article>
        <div class="prose prose-sm">
          <div>
            <div>
              <div class="mb-4">
                <FormattedDate date={post.data.pubDate} />
              </div>
              {
                post.data.updatedDate && (
                  <div>
                    Last updated on <FormattedDate date={post.data.updatedDate} />
                  </div>
                )
              }
            </div>
            <h2 class="mb-1">{post.data.title}</h2>
          </div>

          <Content />
        </div>
      </article>
    </main>
  </body>
</html>
