---
import { getCollection } from 'astro:content';
import Layout from '@/components/Layout.astro';

const posts = await getCollection('posts');
---
<Layout>
  <div class="bg-[var(--cream-color)] pt-20 pb-28 px-16">
    <h2 class="mb-12 text-4xl">Articles</h2>
  </div>
  <ul>
    {posts.map((a) => (
      <li>
      <a href={`/posts/${a.slug}`} class="text-blue-700 underline visited:text-purple-900">{a.data.title}</a> 
    </li>
  ))}
</ul>
</Layout>