---
---


<style>
  .footnotes {
    font-size: 17px;
    font-style: italic;
  }
</style>


<div class="footnotes">
  <hr />
  <ol>
    <li id="fn:1">
      <a href="#fnref:1" title="return to article">↩</a>
      Footnote text goes here.
    </li>
  </ol>

