---
const isHomepage = Astro.url.pathname === "/";
---
<header class="py-[40px] bg-[var(--cream-color)] px-[64px]" class:list={[{ "border-b": isHomepage }]}>
  <nav class="flex items-center justify-between">
    <a href="/">Jaga Santagostino</a>

    <div class="flex items-center gap-[26px]">
      <a href="/posts">Posts</a>
      <a href="/notes">Notes</a>
    </div>

    <a href="/about">About</a>
  </nav>
</header>