---
---
<header class="py-[40px] bg-[var(--cream-color)] px-[64px]">
  <nav class="flex items-center justify-between">
    <a href="/">Jaga Santagostino</a>

    <div class="flex items-center gap-[26px]">
      <a href="/articles">Articles</a>
      <a href="/articles">Articles</a>
      <a href="/articles">Articles</a>
      <a href="/articles">Articles</a>
      <a href="/articles">Articles</a>
    </div>

    <a href="/about">About</a>
  </nav>
</header>