---
import { getRandomQuote } from "@/lib/notion";
import { genColors } from "@/lib/gen-colors";

const quote = await getRandomQuote();
// Astro.response.headers.set("Cache-Control", "public, max-age=300, s-maxage=300");
// Astro.response.headers.set("x-data", "stocazzo");

const {light, dark} = genColors()
---

<div style={{
  backgroundColor: light,
  color: dark,
  borderColor: dark,
}}  class="p-8 rounded-lg shadow-md max-w-2xl border-2">
  <blockquote class="mb-2">
    <p class="text-gray-800  text-[16px] leading-relaxed mb-4">"{quote.text.replaceAll(`"`, '')}"</p>
    <footer class="w-full text-sm">
      <cite class="flex w-full justify-end">
        {
          quote.source && <span  class="transition-colors duration-200 font-medium">
          {quote.source}
        </span>
        }
        {quote.author && (
          <span class="ml-2 text-gray-600">
            by <span class="font-semibold">{quote.author}</span>
          </span>
        )}
      </cite>
    </footer>
  </blockquote>
</div>


